.project {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  align-items: center;

  .projectContainer {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 769px) {
      width: 100%;
      height: 100vh;
      flex-direction: column;
      gap: 0;
    }

    .left {
      flex: 1;
      display: flex;
      align-items: center;
      // justify-content: center;
      padding-left: 15px;
      @media only screen and (max-width: 769px) {
        padding: 20px;
        justify-content: center;
      }

      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
      }
      li {
        font-size: 80px;
        font-weight: bold;
        color: transparent;
        -webkit-text-stroke: 2px white;
        cursor: pointer;
        position: relative;
        @media only screen and (max-width: 769px) {
          font-size: 30px;
          color: white;
          -webkit-text-stroke: 0px;
        }

        &::after {
          content: var(--dynamic-content);
          position: absolute;
          top: 0;
          left: 0;
          width: 0px;
          overflow: hidden;
          color: rgb(182, 25, 190);
          white-space: nowrap;
        }

        &:hover {
          &::after {
            animation: textFill 0.5s linear forwards;
          }
        }
        @keyframes textFill {
          0% {
            width: 0;
          }
          100% {
            width: 100%;
          }
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 600px;
        height: 700px;

        @media only screen and (max-width: 769px) {
          width: 300px;
          height: 350px;
        }
      }
    }
  }
}
